{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<link rel="stylesheet" href="https://public.gv.je/static/web/gvbtn/gvbtn.css">
<link rel="stylesheet" href="https://public.gv.je/static/web/wiki/css/wiki.css">
{% endblock extrahead%}
{% block scripts %}
  <a href="https://www.gv.je"
   class="site-action-button"
   aria-label="Open action">
  <img src="https://public.gv.je/static/web/gvbtn/gv-logo-512x512.png" class="site-action-button-img" alt="GV.je">
  </a>
  <!-- Add scripts that need to run before here -->
   <script src="https://public.gv.je/static/web/gvbtn/gvbtn.js"></script>
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
{% endblock scripts %}